.card-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex: 1;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: var(--offwhite);
}

.caption {
  margin: 8px 0 0 0;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  color: var(--grey);
}

.caption-data {
  font-weight: 600;
}

.data {
  font-size: 44px;
  font-weight: 400;
  align-self: center;
  margin: 12px 0;
  color: var(--primary-light);
}
